@use '../base' as *;

.card {
    .card__container {
        margin: 5% 7%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: $orange;
        border-radius: 20px;
        padding-left: 60px;
        box-shadow: 0 0 30px rgba($orange, 0.5);
    }

    .card__content {
        color: $white;
        max-width: 50%;
    }

    .card__title {
        margin-bottom: 20px;
    }

    .card__image {

        img {
            width: 100%;
            height: auto;
            max-height: 600px;
        }
    }

    .card__links {
        display: flex;
        flex-direction: row;
        gap: 20px;
        margin-top: 30px;
    }

    .card__link {
        img {
            width: 100%;
            height: auto;
        }
    }
}

.euroleague {
    .euroleague__container {
        padding-left: 0;
        padding-right: 60px;
    }
}

.derby {
    .derby__container {
        padding-left: 20px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 1300px) {
    .card {
        .card__container {
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }

}

@media screen and (max-width: 1024px) {
    .card {
        .card__container {
            margin: 10% 7%;
            flex-direction: column;
            padding: 30px;
            padding-bottom: 0;
        }

        .card__content {
            max-width: 100%;
        }

        .card__links {
            gap: 7px;
        }
    }

    .euroleague {
        .euroleague__container {
            padding: 30px;
            padding-top: 0;
        }
    }

    .derby {
        .derby__container {
            padding: 30px;
            padding-top: 0;
        }
    }
}