@use '../base' as *;


.coming-soon {
    background-color: $black;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .coming-soon__container {
        margin: 0 7%;
        text-align: center;
        background-color: $orange;
        border-radius: 12px;
        padding: 50px 20px;
        color: $white;
    }

    .coming-soon__text {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .coming-soon__link {
        background-color: $black;
        color: $white;
        padding: 10px 20px;
        border-radius: 8px;
        text-decoration: none;
        transition: background-color 0.3s ease, color 0.3s ease;

        &:hover {
            background-color: $white;
            color: $black;
        }
    }
}