@use '../base' as *;

.fixtures {
    .fixtures__container {
        margin: 5% 10%;
    }

    .fixtures__title {
        color: $white;
        margin-bottom: 30px;
        text-align: center;
    }

    .fixture {
        background-color: $orange;
        width: 100%;
        max-width: 430px;
        height: 170px;
        padding: 20px 10px;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .fixture__teams {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .fixture__team {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 78px;
            height: 78px;
            object-fit: contain;
            margin-bottom: 8px;
        }
    }
}

@media screen and (max-width: 991px) {
    .fixtures {
        .fixtures__container {
            margin: 5% 5%;
        }
    }
}

// 4k responsive

@media screen and (min-width: 1921px) {
    .fixtures {
        .fixtures__title {
            margin-bottom: 1.5625vw;
        }

        .fixture {
            max-width: 22.39583vw;
            height: 8.85417vw;
            padding: 1.04167vw 0.52083vw;
            border-radius: 0.625vw;
        }

        .fixture__teams {
            gap: 1.04167vw;
        }

        .fixture__team {
            img {
                width: 4.0625vw;
                height: 4.0625vw;
                margin-bottom: 0.41667vw;
            }
        }
    }
}