@use '../base' as *;

.footer {
    background-color: $orange;

    .footer__container {
        margin: 0 7%;
        padding: 30px 0;
    }

    .footer__logo {

        img {
            width: 100%;
            height: auto;
            max-height: 250px;
        }
    }

    .footer__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .footer__list-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 50px;
        flex-wrap: wrap;
    }

    .footer__item {
        a {
            color: $white;
            position: relative;
            transition: all 0.3s ease;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $black;
                transition: width 0.3s ease;
            }

            &:hover {
                color: $black;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    .footer__info {
        color: $white;

        a {
            color: $white;
            position: relative;
            transition: all 0.3s ease;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $black;
                transition: width 0.3s ease;
            }

            &:hover {
                color: $black;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    .footer__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $white;
        flex-wrap: wrap;
    }

    .footer__socials {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .footer__social-link {
        svg {
            width: 40px;
            height: 40px;
            fill: $white;
            transition: all 0.3s ease;

            &:hover {
                fill: $black;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        .footer__container {
            padding: 10px 0;
        }

        .footer__socials {
            margin-top: 10px;
        }
    }
}