@use '../base' as *;

.footer {
    background-color: $orange;

    .footer__container {
        margin: 0 7%;
        padding: 30px 0;
    }

    .footer__logo {
        img {
            width: 100%;
            height: auto;
            max-height: 220px;
            max-width: 220px;
        }
    }

    .footer__top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    .footer__list-wrapper {
        display: flex;
        flex-direction: row;
        gap: 50px;
        flex-wrap: wrap;
    }

    .footer__item {
        a {
            color: $white;
            text-shadow: 1px 1px 3px rgba($black, 0.5);
            position: relative;
            transition: all 0.3s ease;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $black;
                transition: width 0.3s ease;
            }

            &:hover {
                color: $black;
                text-shadow: none;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    .footer__info {
        color: $white;
        text-shadow: 1px 1px 3px rgba($black, 0.5);

        a {
            color: $white;
            text-shadow: 1px 1px 3px rgba($black, 0.5);
            position: relative;
            transition: all 0.3s ease;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0;
                height: 2px;
                background-color: $black;
                transition: width 0.3s ease;
            }

            &:hover {
                color: $black;
                text-shadow: none;

                &::after {
                    width: 100%;
                }
            }
        }
    }

    .footer__divider {
        border: none;
        height: 2px;
        background-color: rgba($white, 0.8);
        margin: 20px 0;
        box-shadow: 0 1px 2px rgba($black, 0.2);
    }

    .footer__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: $white;
        text-shadow: 1px 1px 3px rgba($black, 0.5);
        flex-wrap: wrap;
    }

    .footer__copyright {
        color: $white;
        text-shadow: 1px 1px 3px rgba($black, 0.8);
    }

    .footer__socials {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .footer__social-link {
        svg {
            width: 40px;
            height: 40px;
            fill: $white;
            filter: drop-shadow(1px 1px 3px rgba($black, 0.5));
            transition: all 0.3s ease;

            &:hover {
                fill: $black;
                filter: none;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        .footer__container {
            padding: 10px 0;
        }

        .footer__logo {
            margin: 0 auto;
        }

        .footer__socials {
            margin-top: 10px;
        }

        .footer__list-wrapper {
            gap: 30px;
        }

        .footer__info {
            width: 100%;
        }
    }
}

// 4k responsive

@media screen and (min-width: 1921px) {
    .footer {
        .footer__container {
            padding: 1.5625vw 0;
        }

        .footer__logo {
            img {
                max-height: 11.45833vw;
                max-width: 11.45833vw;
            }
        }

        .footer__top {
            margin-bottom: 1.04167vw;
        }

        .footer__list-wrapper {
            gap: 2.60417vw;
        }

        .footer__item {
            a {
                text-shadow: 0.05208vw 0.05208vw 0.15625vw rgba($black, 0.5);

                &::after {
                    bottom: -0.26042vw;
                    height: 0.10417vw;
                }
            }
        }

        .footer__info {
            text-shadow: 0.05208vw 0.05208vw 0.15625vw rgba($black, 0.5);

            a {
                text-shadow: 0.05208vw 0.05208vw 0.15625vw rgba($black, 0.5);

                &::after {
                    bottom: -0.26042vw;
                    height: 0.10417vw;
                }
            }
        }

        .footer__divider {
            height: 0.10417vw;
            margin: 1.04167vw 0;
            box-shadow: 0 0.05208vw 0.10417vw rgba($black, 0.2);
        }

        .footer__bottom {
            text-shadow: 0.05208vw 0.05208vw 0.15625vw rgba($black, 0.5);
        }

        .footer__copyright {
            color: $white;
            text-shadow: 0.05208vw 0.05208vw 0.15625vw rgba($black, 0.8);
        }

        .footer__socials {
            gap: 0.52083vw;
        }

        .footer__social-link {
            svg {
                width: 2.08333vw;
                height: 2.08333vw;
                filter: drop-shadow(0.05208vw 0.05208vw 0.15625vw rgba($black, 0.5));
            }
        }
    }
}