@use '../base' as *;

.hero {
    background-image: url('/images/HeroBanner.webp');
    background-size: cover;
    background-position: center;
    height: 100vh;
    height: 100dvh;
    width: 100%;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .hero__container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .hero__content {
        text-align: center;
        color: $white;
        z-index: 1;
        position: relative;
        margin: 0 5%
    }

    .hero__subtitle {
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .hero__button {
        padding: 20px 30px;
        background-color: $orange;
        color: $white;
        border: none;
        border-radius: 12px;
        cursor: pointer;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 10px;
        width: fit-content;
        margin: 0 auto;
        box-shadow: 0 0 15px rgba($orange, 0.5);

        svg {
            width: 40px;
            height: 40px;
            transition: all 0.3s ease;

            circle,
            polygon {
                transition: all 0.3s ease;
            }
        }

        &:hover {
            background-color: darken($orange, 10%);
            transform: scale(1.05);
            color: $black;

            svg {
                transform: translate(5px);

                circle,
                polygon {
                    stroke: $black;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .hero {
        .hero__button {
            padding: 10px 20px;

            svg {
                width: 30px;
                height: 30px;
            }
        }
    }
}