@use '../base' as *;

.hero-small {
    background-image: url('/images/heroBlog.webp');
    background-size: cover;
    padding: 150px 7%;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
    }

    .hero-small__content {
        color: $white;
        text-align: center;
        z-index: 1;
        position: relative;
    }

    .hero-small__title {
        margin-bottom: 20px;
    }
}

// 4k responsive

@media screen and (min-width: 1921px) {
    .hero-small {
        padding: 7.8125vw 7%;

        .hero-small__title {
            margin-bottom: 1.04167vw;
        }
    }
}