@use '../base' as *;

.table {
    .table__container {
        margin: 5% 10%;
    }

    .table__wrapper {
        background-color: $orange;
        box-shadow: 0 0 30px rgba($orange, 0.5);
        border-radius: 12px;
        width: 100%;
        padding: 30px 50px;
    }

    .table__standings {
        width: 100%;

        .th-short {
            display: none;
        }

        th {
            img {
                width: 40px;
                height: 40px;
            }

            padding-bottom: 10px;
        }

        tr {
            text-align: left;
            border-bottom: $black 1px solid;
        }

        td {
            padding: 10px 0;
        }

        .table__logo {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }

        .table__number {
            width: 32px;
            height: 32px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 13px 0;
        }

        .table__number--top6 {
            background-color: $green;
            border-radius: 50%;
        }

        .table__number--top10 {
            background-color: $secondary;
            border-radius: 50%;
        }
    }

    @media screen and (max-width: 991px) {
        .table__container {
            margin: 5% 5%;
        }

        .table__wrapper {
            padding: 15px 20px;
        }

        .table__standings th,
        .table__standings td {
            white-space: nowrap;
            width: 25px;
        }

        .team-name {
            display: none;
        }

        .table__standings {

            .th-full {
                display: none;
            }

            .th-short {
                display: block;
            }
        }
    }
}

// 4k responsive

@media screen and (max-width: 1921px) {
    .table {
        .table__wrapper {
            box-shadow: 0 0 1.5625vw rgba($orange, 0.5);
            border-radius: 0.625vw;
            padding: 1.5625vw 2.60417vw;
        }

        .table__standings {
            th {
                img {
                    width: 2.08333vw;
                    height: 2.08333vw;
                }

                padding-bottom: 0.52083vw;
            }

            tr {
                border-bottom: $black 0.05208vw solid;
            }

            td {
                padding: 0.52083vw 0;
            }

            .table__logo {
                width: 2.08333vw;
                height: 2.08333vw;
                margin-right: 0.52083vw;
            }

            .table__number {
                width: 1.66667vw;
                height: 1.66667vw;
                margin: 0.67708vw 0;
            }
        }
    }
}