// COLORS
$black: #0b0b0b;
$white: rgba(255, 255, 255, 1);

$orange: #ff914d;


$purple: rgba(54, 18, 129, 1);
$red: #ff2473;
$orange: #FF6F1F;
$green: #00FF41;

// BREAKPOINTS
$lap-large: 1440;
$lap-small: 1250;
$tablet-l: 1200;
$tablet: 991;
$phone: 640;