---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="Priče sa parketa - Najpopularniji košarkaški podcast u Srbiji i regionu"
  description="Priče sa parketa - Najpopularniji košarkaški podcast u Srbiji i regionu. Analize Evrolige, ABA lige i večitog derbija. Slušajte na Spotify, YouTube i Apple Podcasts."
>
  <main class="homepage">
    <section class="hero">
      <div class="hero__container">
        <div class="hero__content">
          <h1 class="hero__title rw-78-600">
            Ja sam Aleksandar Babić
          </h1>
          <p class="hero__subtitle rw-54-500">
            Urednik i voditelj podcast emisije Priče sa parketa
          </p>
          <a
            class="hero__button rw-24-500"
            data-svg="play-circle"
            href="https://www.youtube.com/@Pri%C4%8Desaparketa1"
            target="_blank"
            rel="noopener noreferrer"
            >Poslednja epizoda</a
          >
        </div>
      </div>
    </section>
    
    <section class="about card">
      <div class="about__container card__container | js-clip">
        <div class="about__content card__content">
          <h2 class="about__title card__title rw-36-600">Priče sa parketa</h2>
          <p class="about__description card__description rw-18-400">
            Naš podcast je mesto gde košarka živi van terena! Bilo da ste fan
            Evrolige, ABA lige ili pratite večite rivale, ovde ćete pronaći
            analize, komentare i razgovore koji idu dublje od rezultata. Svaka
            epizoda donosi osvrte na ključne utakmice, taktičke detalje,
            zanimljive priče iz sveta košarke i intervjue sa igračima,
            trenerima i stručnjacima. Diskutujemo o svemu od trenutnih formi
            timova, preko rivalstava, do mladih talenata koji obećavaju.
            <br />
            <br />
            Pridružite nam se i slušajte nas na vašim omiljenim platformama!
            Ostanite u toku sa svim košarkaškim dešavanjima i budite deo
            zajednice koja deli istu strast prema igri.
          </p>
          <div class="about__links card__links">
            <a
              href="https://open.spotify.com/"
              target="_blank"
              rel="noopener noreferrer"
              class="about__link card__link"
            >
              <img src="/images/Spotify.png" alt="spotify"
            /></a>
            <a
              href="https://www.youtube.com/@Pri%C4%8Desaparketa1"
              target="_blank"
              rel="noopener noreferrer"
              class="about__link card__link"
            >
              <img src="/images/YouTube.png" alt="youtube"
            /></a>
            <a
              href="https://podcasts.apple.com/us/browse"
              target="_blank"
              rel="noopener noreferrer"
              class="about__link card__link"
            >
              <img src="/images/Apple Podcasts.png" alt="apple-podcast"
            /></a>
          </div>
        </div>
        <div class="about__image card__image">
          <img src="/images/logo.webp" alt="logo" />
        </div>
      </div>
    </section>
    
    <section class="euroleague card">
      <div class="euroleague__container card__container | js-clip">
        <div class="euroleague__image card__image">
          <img src="/images/euroleague.webp" alt="euroleague-logo" />
        </div>
        <div class="euroleague__content card__content">
          <h2 class="euroleague__title card__title rw-36-600">Evroliga</h2>
          <p class="euroleague__description card__description rw-18-400">
            Evroliga je najelitnije takmičenje evropske košarke, gde se
            najbolji timovi bore za prestiž i titulu šampiona. Svaka utakmica
            donosi uzbuđenje, neizvesnost i nezaboravne momente koji okupljaju
            ljubitelje košarke širom sveta. Na našem sajtu možete pronaći
            tabelu i rezultate iz Evrolige, dok na Instagram stranici
            svakodnevno delimo najzanimljivije trenutke, statistike i priče sa
            terena. Ako ste pravi zaljubljenik u košarku, obavezno poslušajte
            naš podcast, gde detaljno analiziramo utakmice, timove i igrače,
            uz gostovanja stručnjaka i bivših igrača.
          </p>
        </div>
      </div>
    </section>
    
    <section class="abaleague card">
      <div class="abaleague__container card__container | js-clip">
        <div class="abaleague__content card__content">
          <h2 class="abaleague__title card__title rw-36-600">ABA Liga</h2>
          <p class="abaleague__description card__description rw-18-400">
            Aba liga je pravo mesto za sve ljubitelje košarke na Balkanu! Ovo
            takmičenje okuplja najbolje timove iz regiona, donoseći uzbudljive
            utakmice, rivalstva i mlade talente koji oblikuju budućnost
            evropske košarke. Na našem sajtu možete pratiti rezultate i
            tabelu. Na Instagram stranici delimo najlepše poteze, zanimljive
            priče i najvažnije trenutke sa parketa. Uz to, naš podcast je
            savršeno mesto za dublje analize, razgovore sa stručnjacima i
            osvrte na ključne momente sezone.
          </p>
        </div>
        <div class="abaleague__image card__image">
          <img src="/images/abaleague.webp" alt="aba-league-logo" />
        </div>
      </div>
    </section>
    
    <section class="derby card">
      <div class="derby__container card__container | js-clip">
        <div class="derby__image card__image">
          <img src="/images/derby.webp" alt="derby-logo" />
        </div>
        <div class="derby__content card__content">
          <h2 class="derby__title card__title rw-36-600">Večiti derbi</h2>
          <p class="derby__description card__description rw-18-400">
            Večiti derbi između Crvene zvezde i Partizana je više od obične
            utakmice to je strast, tradicija i neizbrisiv deo srpske
            košarkaške istorije. Ovaj rivalitet, koji traje decenijama, donosi
            nezaboravne trenutke, epske okršaje i priče koje se prepričavaju
            generacijama. Na našem sajtu možete pratiti rezultate i analize
            svake utakmice, dok na Instagram stranici delimo najuzbudljivije
            trenutke, navijačke scene i ekskluzivne intervjue. Takođe, naš
            podcast pruža dublji uvid u ovaj legendarni duel, sa stručnim
            komentarima, pričama iz svlačionice i gostovanjima bivših igrača i
            trenera.
          </p>
        </div>
      </div>
    </section>
  </main>
</Layout>
