<section class="hero-small">
  <div class="hero-small__container">
    <div class="hero-small__content">
      <h1 class="hero-small__title rw-78-600">Tabela Evrolige</h1>
      <p class="hero-small__subtitle rw-54-500">Najnovije informacije i statistike iz Evrolige</p>
    </div>
  </div>
</section>
