<section class="kls-table container">
  <iframe
    id="sofa-standings-embed-3240-82087"
    src="https://widgets.sofascore.com/embed/tournament/3240/season/82087/standings/KLS%2025%2F26?widgetTitle=KLS%2025%2F26&showCompetitionLogo=true"
    style="height:963px!important;max-width:768px!important;width:100%!important;"
    frameborder="0"
    scrolling="no"></iframe>
  <div class="powered-by rw-16-400">
    Standings provided by <a
      target="_blank"
      href="https://www.sofascore.com/basketball/tournament/serbia/admiralbet-kls/754#id:82087"
      >Sofascore</a
    >
  </div>
</section>
